ApiBusiness/target/
ApiData/target/
ApiUc/target/
*/target/
*.project
*.classpath
*.prefs
ApiBusiness/.settings/
ApiData/.settings/
ApiUc/.settings/
Business/.settings/
Data/.settings/
Dto/.settings/
EAR/.settings/
Entity/.settings/
Uc/.settings/
WebDiy/.settings/
ProjetLivraison/Livraison-ApiBusiness/target/
ProjetLivraison/Livraison-ApiData/target/
ProjetLivraison/Livraison-ApiWebService/target/Livraison-ApiWebService-0.1.jar
ProjetLivraison/Livraison-ApiBusiness/target/
ProjetLivraison/Livraison-ApiData/target/
ProjetLivraison/Livraison-ApiWebService/target/
ProjetLivraison/Livraison-Dto/target/
ProjetLivraison/Livraison-Entity/target/
ProjetLivraison/Livraison-WebService/target/
ProjetPaiement/Banque-Entity/.settings/
ProjetPaiement/Banque-Business/.settings/org.eclipse.wst.common.component
ProjetPaiement/Banque-Business/.settings/org.eclipse.wst.common.project.facet.core.xml
ProjetPaiement/Banque-DTO/target/maven-archiver/pom.properties
ProjetPaiement/Banque-Data/.settings/
ProjetPaiement/Banque-DTO/target/
ProjetPaiement/Banque-Data/target/
ProjetPaiement/Banque-EAR/.settings/org.eclipse.wst.common.component
ProjetPaiement/Banque-EAR/.settings/
ProjetPaiement/Banque-Entity/target/
ProjetPaiement/Banque-ApiWebService/.settings/
ProjetPaiement/Banque-ApiWebService/target/
ProjetPaiement/Banque-BusinessApi/.settings/
ProjetPaiement/Banque-DTO/.settings/
ProjetPaiement/Banque-DataApi/.settings/
ProjetPaiement/Banque-WebService/.settings/
ProjetPaiement/Banque-WebService/target/
.settings/
*.classpath

